.calculator-container {
	width: 235px;
	transform: scale(0.6);
	height: 120px;
	position: relative;
	top: -44px;
	left: -45px;
}

.calculator {
	font-family: helvetica, arial, sans-serif;
	padding: 10px;
	margin-top: 20px;
	background-color: #ccc;
	border-radius: 5px;
	font-size: 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#aebcbf+0,6e7774+50,0a0e0a+51,545454+100 */
	background: rgb(174,188,191); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(174,188,191,1) 0%, rgba(110,119,116,1) 50%, rgba(10,14,10,1) 51%, rgba(84,84,84,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(174,188,191,1) 0%,rgba(110,119,116,1) 50%,rgba(10,14,10,1) 51%,rgba(84,84,84,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(174,188,191,1) 0%,rgba(110,119,116,1) 50%,rgba(10,14,10,1) 51%,rgba(84,84,84,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aebcbf', endColorstr='#545454',GradientType=0 ); /* IE6-9 */border-radius:3px;
	-webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

.calculator > input[type=text] {
	width: 95%;
	height: 50px;	
	border: none;
	background-color: #eee;	
	text-align: right;
	font-size: 35px;
	padding-right: 10px;
}

.calculator .row { 
	margin-top: 10px;
}

.calculator .key {
	width: 50px; /*78.7px;*/
	display: inline-block;
	background-color: black;
	color: white;
	font-size: 15px; /*1rem;*/
	margin-right: 5px;
	border-radius: 5px;
	height: 50px; /*50px;*/
	line-height: 50px;
	text-align: center;
}
.calculator .key:hover {
	background: deepskyblue;
}
.calculator .key:active {
	background: dimgrey !important;
}

.calculator .key:hover{
	cursor: pointer;
}

.key.last{
	margin-right: 0px;
} 

.key.action {
	background-color: #646060;
}