section.content.calculator-container
   .calculator
      input(type='text', readonly='')
      .row
         .key 1
         .key 2
         .key 3
         .key.last 0
      .row
         .key 4
         .key 5
         .key 6
         .key.last.action.instant cl
      .row
         .key 7
         .key 8
         .key 9
         .key.last.action.instant =
      .row
         .key.action +
         .key.action -
         .key.action x
         .key.last.action /
link(rel='stylesheet', type='text/css', href='css/widget/calc.css')
script(type='text/javascript', src='js/widget/calculator.js')