html
   head
      title Qwile OS - Activation complete!
      meta(http-equiv="refresh", content="3;url=#{domain}")
   body
      br
      style(type='text/css').
         h2, h3 { font-family: Verdana; }
      center
         h2 Your account has been successfully activated.
         h3 You will be redirected in 3 seconds...