each app in apps
   li.added
      table
         tr
            td.icon
               img(src="img/#{app.icon}")
            td.content
               .top
                  .name= app.name
                  .rating
                     .star.filled
                     .star.filled
                     .star.blank
                     .star.blank
                     .star.blank
               .bottom
                  .description= app.description
                  .developer= app.developer
            td.switcher