html
   head
      title Qwile OS - Invalid restore link.
   body
      br
      style(type='text/css').
         h2, h3 {
            font-family: Verdana;
         }
      center
         h2 This link is not valid anymore.
