html
   head
      title Qwile OS - Invalid actiovation.
   body
      br
      style(type='text/css').
         h2, h3 {
            font-family: Verdana;
         }
      center
         h2 Something wrong with your activation link.
