//h1 Here you will be setting a new password! :)
//	form(name="passwordUpdate" action="http://localhost/user/updatePassword" method="post")
	//	input(type="password" name="password")
	//	input(type="text" name="email")
		//input(type="text" name="code")
	//	input(type="submit")

title Qwile OS - Login page
link(rel='stylesheet', href='../css/lib/bootstrap.min.css')
link(rel='stylesheet', href='../css/lib/bubbles.css')
link(rel='stylesheet', href='../css/update.css')
script(src='../js/lib/jquery.min.js')
script(src='../js/lib/bootstrap.min.js')
script(src='../js/lib/jquery.transform2d.js')
.bubbles
	.bubble-container(style='left: 2%; animation-duration: 6s; animation-delay: 3s;')
		.bubble(style='width: 9px; height: 9px;')
	.bubble-container(style='left: 4%; animation-duration: 3s; animation-delay: 11s;')
		.bubble(style='width: 8px; height: 8px;')
	.bubble-container(style='left: 71%; animation-duration: 5s; animation-delay: 8s;')
		.bubble(style='width: 5px; height: 5px;')
	.bubble-container(style='left: 11%; animation-duration: 10s; animation-delay: 15s;')
		.bubble(style='width: 7px; height: 7px;')
	.bubble-container(style='left: 21%; animation-duration: 6s; animation-delay: 1s;')
		.bubble(style='width: 6px; height: 6px;')
	.bubble-container(style='left: 79%; animation-duration: 11s; animation-delay: 14s;')
		.bubble(style='width: 11px; height: 11px;')
	.bubble-container(style='left: 45%; animation-duration: 6s; animation-delay: 7s;')
		.bubble(style='width: 5px; height: 5px;')
	.bubble-container(style='left: 50%; animation-duration: 9s; animation-delay: 15s;')
		.bubble(style='width: 7px; height: 7px;')
	.bubble-container(style='left: 75%; animation-duration: 5s; animation-delay: 12s;')
		.bubble(style='width: 10px; height: 10px;')
	.bubble-container(style='left: 93%; animation-duration: 5s; animation-delay: 8s;')
		.bubble(style='width: 3px; height: 3px;')
	.bubble-container(style='left: 73%; animation-duration: 5s; animation-delay: 2s;')
		.bubble(style='width: 6px; height: 6px;')
	.bubble-container(style='left: 72%; animation-duration: 10s; animation-delay: 13s;')
		.bubble(style='width: 11px; height: 11px;')
	.bubble-container(style='left: 24%; animation-duration: 7s; animation-delay: 12s;')
		.bubble(style='width: 8px; height: 8px;')
	.bubble-container(style='left: 50%; animation-duration: 7s; animation-delay: 8s;')
		.bubble(style='width: 9px; height: 9px;')
	.bubble-container(style='left: 3%; animation-duration: 11s; animation-delay: 12s;')
		.bubble(style='width: 10px; height: 10px;')
	.bubble-container(style='left: 80%; animation-duration: 7s; animation-delay: 3s;')
		.bubble(style='width: 3px; height: 3px;')
	.bubble-container(style='left: 34%; animation-duration: 6s; animation-delay: 14s;')
		.bubble(style='width: 7px; height: 7px;')
	.bubble-container(style='left: 43%; animation-duration: 4s; animation-delay: 14s;')
		.bubble(style='width: 9px; height: 9px;')
	.bubble-container(style='left: 93%; animation-duration: 8s; animation-delay: 5s;')
		.bubble(style='width: 4px; height: 4px;')
	.bubble-container(style='left: 74%; animation-duration: 4s; animation-delay: 6s;')
		.bubble(style='width: 6px; height: 6px;')
a.bubble-toggle(href='#') Bubbles Off
#circle-parent
	#circle
		.mini-circle
		.mini-circle
			img#logo(src='../img/logo.png')
			form#update
				table
					tr
						td
							input(type="password" name="password", placeholder='Enter new password', maxlength="20")
						td
							img.check(src="../img/incorrect.png")
					tr
						td
							input(type='password', name="confirm-password" placeholder='Confirm new password', maxlength="20")
						td
							img.check(src="../img/incorrect.png")
				button#enter.btn.btn-primary(type="submit") Update password
				footer.login
					| &copy 2015 Qwile.com
					br
					| All rights reserved.
// Modal
#myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
	.modal-dialog
		.modal-content
			.modal-body
script(src='../js/lib/bubbles.js')
script(src='../js/update.js')