h1 Here you will be setting a new password! :)
	form(name="passwordUpdate" action="http://localhost:3000/user/updatePassword" method="post")
		input(type="password" name="password")
		input(type="text" name="email")
		input(type="text" name="code")
		input(type="submit")