@font-face {
    font-family: 'Copperplate Gothic Bold';
    src: url('../fonts/Copperplate Gothic Bold.ttf');
}
@font-face {
    font-family: 'Copperplate Gothic Light';
    src: url('../fonts/copperplate-gothic-light.ttf');
}
@font-face {
  font-family: 'Tahoma';
  src: url('../fonts/Tahoma.ttf');
}
transform-scale(factor)
  -webkit-transform scale(factor)
  -moz-transform scale(factor)
  -o-transform scale(factor)
  transform scale(factor)
html {
	height: 100%;
	margin: 0;
	padding: 0;
}
#shadow {
	position: absolute;
	z-index: 1002;
	background: rgba(000, 000, 000, 0.8);
	width: 100%;
	height: 100%;
	display: none;
}
#toppanel {
	height: 50px;
	background: url('../img/toppanel.png');
	position: relative;
	z-index: 3;
	top: -50px;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 0 -40px 0;
	padding: 0;
}
.footer-push, footer {
	height: 40px;
	margin: 0;
	padding: 0;
}
footer {
	height: 40px;
	background: url('../img/taskpanel.png');
	z-index: 999;
	position: relative;
	border-top: 2px solid #154d54;
	padding-left: 1px;
	bottom: -50px;
}
body {
	background: url('../img/bg.jpg') no-repeat bottom center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	overflow: hidden !important;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	user-select: none;
	-webkit-user-select: none; 
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	position: fixed !important;
}

/* ************************** logo ********************** */

table.logo {
	position: absolute;
	transform: scale(0);
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0px;
	z-index: 0;
}
#logo-stereo {
	position: absolute;
	margin-left: -368px;
	height: 0px;
	width: 368px;
	display: inline;
	background: url('../img/logo-stereo.png');
}
div#digits {
	font: bold 17px Verdana;
	font-variant: small-caps;
	color: #ececec;
	position: absolute;
	margin-left: -220px;
	margin-top: 170px;
	display: inline;
}
#untitled {
	position: absolute;
	width: 367px;
	margin-left: -367px;
	margin-top: 155px;
	opacity: 0;
	z-index: 0 !important;
}

/* ************************ logo end ******************** */

#start {
	background: url('../img/start.png') no-repeat;
	background-position: 0px 0px;
	width: 45px;
	height: 47px;
	cursor: pointer;
	float: left;
	margin-left: 5px;
}
#start:hover {
	background-position: -45px 0px;
}
#start:active {
	background-position: -90px 0px;
}
#search-td {
	width: 58%;
}
#toppanel form.search {
	width: 20%;
	min-width: 400px;
	height: 35px;
	padding-top: 8px;
}
#toppanel input.search {
	width: 86%;
	height: 24px;
	border-radius: 20px;
	border: 0px solid deepskyblue;
	min-width: 300px;
	background: rgba(000, 000, 000, 0.4);
	padding: 2px;
	font: 13px verdana;
	color: silver;
	padding-left: 12px !important;
	font-style: italic;
	float: left;
	outline: none;
}	
#toppanel input.search:focus {
	color: #fff;
	font-style: normal;
}
#toppanel form.search div.button {
	background: url('../img/search.png') 54px;
	background-repeat: repeat-x;
	width: 27px;
	height: 26px;
	float: left;
	margin-left: 5px;
	cursor: pointer;
}
#toppanel form.search div.button:hover {
	background-position: 27px;
}
#toppanel form.search div.button:active {
	background-position: 0px;
}
#quit, #settings  {
	float: right;
	width: 30px;
	height: 35px;
	background: url('../img/quit.png') no-repeat;
	margin: 2px 5px 0px 0px;
	cursor: pointer;
}
#quit:hover {
	background-position: -31px 0px;
}
#quit:active {
	background-position: -62px 0px;
}
#toppanel table {
	width: 100%;
	border-spacing: 0px;
}
#settings {
	width: 34px;
	margin-top: -1px;
	background: url('../img/settings.png') no-repeat;
}
#settings:hover {
	background-position: -35px 0px;
}
#settings:active {
	background-position: -70px 0px;
}
#email {
	padding-right: 12px;
	width: 1%;
}
#email span {
	font: bold 12px verdana;
	color: #fff;
	float: right;
	margin-top: -2px;
	cursor: default;
}
#photo {
	width: 43px;
}
#photo:hover {
	opacity: 0.8;
}
#photo:active {
	opacity: 0.8;
}
#photo div {
	cursor: pointer;
	background: url('../img/photo.png');
	border-radius: 30px;
	width: 35px;
	height: 35px;
	margin-top: -1px;
}
.task {
	cursor: pointer;
	width: 160px;
	padding-right: 10px;
	height: 36px;
    display: none;
	float: left;
	margin: 1px;
	border-radius: 8px;
	background: linear-gradient(to top, rgba(000, 000, 000, 0.8), rgba(004, 015, 015, 0.3));
	color: #fff;
	position: relative;
	bottom: 2px;
}
.task[data-app-name="player"] {
  display: block;
}
.task:hover {
	background: rgba(000, 000, 000, 0.5);
}
.task:active {
    /* fucked IE doesn't inherit active, it needs JavaScript */
	background: linear-gradient(to top, rgba(000, 000, 000, 0.4), rgba(004, 015, 015, 1)) !important;
}
.task .title {
	font: 11px "Copperplate Gothic Bold", Verdana;
	float: left;
	line-height: 33px;
	text-overflow: ellipsis;
	max-width: 100px;
}
.task img.icon {
	margin: 2px 14px 0px 5px;
	height: 30px;
	float: left;
}
.task .close {
	width: 15px;
	height: 14px;
	float: right;
	margin-top: 10px;
	margin-left: 5px;
	background: url('../img/dialog-close.png');
}
.task .close:hover {
	background-position: -30px 0%;
}
.task .close:active {
	background-position: -15px 0%;
}
aside#profile {
	width: 200px;
	height: calc(100% - 90px);				/* Android, iOS and Safari don't support this stuff */
	height: -webkit-calc(100% - 90px);
	background: url('../img/panel.png');
	position: absolute;
	z-index: 2;
	right: -200px;
	border-left: 6px solid #154d54;
	border-top: 1px solid #154d54;
	box-shadow: 10px black;
}
aside#profile td {
	min-width: 200px;
}
aside#profile .header {
	height: 30px;
	padding-left: 16px;
	font: bold 13px Verdana;
	font-variant: small-caps;
	background: linear-gradient(to bottom, silver 21%, grey 100%);
	cursor: pointer;
	width: 100%;
	border-top: 1px solid #154d54;
	border-bottom: 1px solid #154d54;
	border-radius: 2px;
	/* Qwile is the awesomest OS that will change your life forever! */
}
aside#profile .header:hover {
	background: linear-gradient(to bottom, white 21%, grey 100%);
}
@css {
	aside#profile .header:active {
	  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0e0e0e+0,7d7e7d+100 */
	  background: rgb(14,14,14); /* Old browsers */
	  background: -moz-linear-gradient(top, rgba(14,14,14,1) 0%, rgba(125,126,125,1) 100%); /* FF3.6-15 */
	  background: -webkit-linear-gradient(top, rgba(14,14,14,1) 0%,rgba(125,126,125,1) 100%); /* Chrome10-25,Safari5.1-6 */
	  background: linear-gradient(to bottom, rgba(14,14,14,1) 0%,rgba(125,126,125,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0e0e', endColorstr='#7d7e7d',GradientType=0 ); /* IE6-9 */
	}
}
aside#profile .photo .profile-photo {
	height: 200px;
	background: url("../img/profile.png");
	width: 200px;
    cursor: pointer;

  	&:hover {
	  	opacity: .8;
	}
	&:active {
	  opacity: 1;
	}
}
#profile-photo-uploader {
  display: none;
}
aside#profile .photo img {
	width: 90%;
}
aside#profile .area {
	display: none;
	vertical-align: top;
	font: 11px verdana;
	text-transform: uppercase;
	overflow: hidden;
	border-bottom: 1px solid grey;
}
aside#profile .area td {
	padding: 10px;
	overflow: hidden;
	padding: 0;
}
aside#profile .area td .profile-personal-row,
aside#profile .area td .profile-link-row,
aside#profile .area td .profile-adress-row,
aside#profile .area td .profile-interest-row {
	background: rgba(000,000,000,0.3);
	padding-top: 10px;
	height: 25px;
	margin: 3px;
	font-weight: bold;
	padding-left: 12px;
	font-size: 9px;
  	color: white;
	cursor: default;

  	&:hover {
	  background: rgba(000,000,000,0.5);
	  cursor: pointer;
	  color: deepskyblue;
	  span.value {
		color: white;
	  }
	}
}
aside#profile .area td .value {
    color: silver;
	display: inline-block;
	float: right;
	margin-right: 22px;
	max-width: 130px;
	text-overflow: ellipsis;
	overflow: hidden;
	font-size: 8px;
}
aside#profile .area.open {
	display: table-row;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
	aside#leftpanel, aside#profile {
		height: 100%;						/* Safari */
		height: -webkit-calc(100% - 90px);
	}
}
aside#leftpanel {
	width: 100px;
	height: calc(100% - 90px);				/* Android, iOS and Safari don't support this shit */
	height: -webkit-calc(100% - 90px);
	background: url('../img/panel.png');
	position: absolute;
	z-index: 2;
	left: -100px;
	border-right: 6px solid #154d54;
}
aside#leftpanel .lock {
	margin-right: -8px;
	width: 4px;
}
#leftpanel table {
	height: 100%;
	width: 100%;
	border-spacing: 0px;
	border-collapse: separate;
}
#leftpanel table td {
	cursor: pointer;
	vertical-align: center;
}
#leftpanel table td.bordered {
	border-bottom: 1px dotted skyblue;
	width: 100%;
}

@-moz-document url-prefix() {				/* fucked ff doesn't set 100% height without table display */
	#leftpanel table td .add-widget, 
	#leftpanel table td .sound, 
	#leftpanel table td .visible, 
	#leftpanel table td .to-start,
	#leftpanel table td .to-bin {
		display: table;
	}
}

#leftpanel table td .add-widget, 
#leftpanel table td .sound, 
#leftpanel table td .visible, 
#leftpanel table td .to-start,
#leftpanel table td .to-bin {
	width: 100%;
	height: 100%;
	float: left;
	background-position: center !important;
	background-repeat: no-repeat !important;
}

#leftpanel table td .disabled {
	opacity: 0.5;
}

#leftpanel table td .add-widget:hover, 
#leftpanel table td .sound:hover, 
#leftpanel table td .visible:hover, 
#leftpanel table td .to-start:hover,
#leftpanel table td .to-bin:hover {
	opacity: 1;
}

#leftpanel table td .add-widget {
	background: url('../img/plus.png');
}
#leftpanel table td .add-widget:hover {
	background: url('../img/plus-hov.png');
}
#leftpanel table td .add-widget:active {
	background: url('../img/plus-act.png');
}
#leftpanel table td .sound {
	background: url('../img/sound.png');
}
#leftpanel table td .sound:hover {
	background: url('../img/sound-hov.png');
}
#leftpanel table td .sound:active {
	background: url('../img/sound-act.png');
}
#leftpanel table td .visible {
	background: url('../img/eye.png');
}
#leftpanel table td .visible:hover {
	background: url('../img/eye-hov.png');
}
#leftpanel table td .visible:active {
	background: url('../img/eye-act.png');
}
#leftpanel table td .to-start {
	background: url('../img/tostart.png');
}
#leftpanel table td .to-start:hover {
	background: url('../img/tostart-hov.png');
}
#leftpanel table td .to-start:active {
	background: url('../img/tostart-act.png');
}
#leftpanel table td .to-bin {
	background: url('../img/bin.png');
}
#leftpanel table td .to-bin:hover {
	background: url('../img/bin-hov.png');
}
#leftpanel table td .to-bin:active {
	background: url('../img/bin-act.png');
}

.desktop-notification {
	position: absolute;
	bottom: -120px; /* 40px; default */
	width: 250px;
	height: 120px;
	border: 4px solid rgba(000, 000, 000, 0.5);
	border-top: 0px !important;
	border-radius: 6px;
	right: 0px;
	background: rgba(027, 080, 072, 0.6);
	z-index: 1001;
	cursor: default;
}
.desktop-notification .top {
	background: url('../img/top.png');
	height: 20px;
	width: 100%;
}
.desktop-notification .top .close {
	width: 16px;
	height: 16px;
	background: url('../img/close.png') no-repeat;
	margin-top: 2px;
	display: inline-block;
}
.desktop-notification .top .close:hover {
	background-position: -16px;
}
.desktop-notification .top .close:active {
	background-position: -32px;
}
.close {
	cursor: pointer;							/* globally for all close buttons */ 	
}
.desktop-notification .content {
	height: 100%;
}
.desktop-notification .content img {
	width: 50px;
	margin: 12px;
	float: left;
}
.desktop-notification .content .text {
	padding-top: 10px;
	color: #fff;
}
.desktop-notification .content .text h9 {
	font: bold 14px Arial;
}
.desktop-notification .content .text .message {
	font: 11px verdana;
	display: block;
	margin-top: 5px;
}
.window {
  width: 600px; /* temporarily properties just for visuing */
  height: 500px;
  position: absolute !important;
  z-index: 1;
  min-width: 250px;
  opacity: 0.8;
  transform-scale(0);
}
.window.active {
  opacity: 1 !important;
  z-index: 2 !important;
}
.window#player {
  left: 480px;
  top: 200px;
}
.window#conductor {
  left: 180px;
  top: 100px;
}
.window .content {
	border: 7px solid rgba(000, 000, 000, 0.4);
	border-top: 0px;
	border-radius: 0px 0px 10px 10px;
	height: calc(100% - 45px);
}
.window .content .inside {
	/*background: url('../img/logo-mono.png') 49% no-repeat #fff;*/
	background: #fff;
	display: table;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.window .top {
	height: 35px;
	background: url('../img/window-top.png');
	border-radius: 10px 10px 0px 0px;
}
.window .top td.icon {
	width: 30px;
}
.window .top td.icon img {
	width: 28px;
	margin-left: 5px;
}
.window .top .title {
	font: bold 11px "Copperplate Gothic Bold", Verdana;
	color: #fff;
	letter-spacing: 0.6px;
	margin: 8px;
	display: block;
}
.window .top table {
	width: 100%;
}
.window .top td.title {
	cursor: move;
}
.window .top td.buttons {
	 width: 84px;
}
.window .top td.buttons .close,
.window .top td.buttons .hidedown,
.window .top td.buttons .fullscreen {
	width: 22px;
	height: 22px;
	float: right;
	margin-right: 2px;
	cursor: pointer;
	margin-left: 3px;
	background-repeat: no-repeat;
	margin-bottom: 2px;
}
.window .top td.buttons .close {
	background: url('../img/window-close.png');
}
.window .top td.buttons .hidedown {
	background: url('../img/hide.png');
}
.window .top td.buttons .fullscreen {
	background: url('../img/fullscreen.png');
}
.window .top td.buttons .close:hover,
.window .top td.buttons .hidedown:hover,
.window .top td.buttons .fullscreen:hover {
	background-position: -22px;
}
.window .top td.buttons .close:active,
.window .top td.buttons .hidedown:active,
.window .top td.buttons .fullscreen:active {
	background-position: -44px;
}
.window .scroll {
	height: 100%;
	display: table;
	width: 20px;
	background:  url('../img/scroll.png');
	float: right;
	margin-right: 1px;
	border-radius: 6px;
}
.window .scroll .slider {
	width: 18px;
	height: 162px;
	position: relative;
	top: 30px;
	background: url('../img/slider.png') no-repeat;
	margin-left: 1px;
	cursor: pointer;
	background-position: -18px;
}
.window .scroll .slider:hover {
	background-position: 0px;
}
.window .scroll .slider:active {
	background-position: -36px;
}
.window-block {
	position: absolute;
	background: black;
	opacity: 0.0;
	width: 99%;
	height: 210px;
	/* Это должно быть динамически */
	display: none;
}
.window iframe {
	border: 0;
	margin-top: 5px;
	display: block;
	margin-left:auto;
	margin-right:auto;
	overflow-x: hidden;
}

.widget {
	position: absolute;
	z-index: 1;
	display: none;
}
.widget.clock {
	right: 250px;
	top: 90px;
  	width: 170px;
}
.widget.calc {
  right: 255px;
  top: 275px;
  cursor: move;
  width: 160px;
  height: 205px;
}
.widget.clock:hover {
	cursor: move;
}
.widget .buttons {
	width: 18px;
	position: relative;
	/*right: -18px;*/
	float: right;
	height: 58px;
}
.widget .buttons .close,
.widget .buttons .settings,
.widget .buttons .resize {
	width: 18px;
	height: 18px;
	background: url('../img/widget-sprite.png') no-repeat;
	margin-bottom: 2px;
	cursor: pointer;
}
.widget .buttons .settings {
	background-position: 0px -19px; 
}
.widget .buttons .settings:hover {
	background-position: -19px -19px; 
}
.widget .buttons .settings:active {
	background-position: -38px -19px; 
}
.widget .buttons .resize {
	background-position: 0px -38px;
}
.widget .buttons .resize:hover {
	background-position: -19px -38px; 
}
.widget .buttons .resize:active {
	background-position: -38px -38px; 
}
.widget .buttons .close:hover {
	background-position: -19px 0px; 
}
.widget .buttons .close:active {
	background-position: -38px 0px; 
}

#menu {
	background: rgba(015, 022, 023, 0.7);
	display: table;
	position: absolute;
	width: 100%;
	height: 100%;
	height: calc(100% - 90px);
 	height: -webkit-calc(100% - 90px);		/* Safari 6+ for Mac */
	z-index: 1000;
	top: -100%;
	left: -100%;
}
#menu table.menu-table {
	width: 100%;
	height: 100%;
	border-collapse: separare;
	padding: 10px;
	border-spacing: 10px;
}
#menu table.menu-table td.right-part, #menu table.menu-table td.left-part {
	background: rgba(0, 15, 22, 0.7);
	border-radius: 10px;
}
#menu td.left-part, #menu td.right-part {
	width: 50%;
	vertical-align: top;
}
#menu td.right-part form.search, #menu td.right-part form.search table {
	width: 100%;
	padding: 10px;
}
#menu td.right-part form.search table {
	padding: 10px;
	margin-left: -10px;
}
#menu td.right-part form.search input[type="text"] {
	width: 100%;
	height: 18px;
	background: rgba(000, 080, 116, 0.5);
	border-radius: 8px;
	padding: 8px;
	border: 0;
	font: 14px verdana;
	font-style: italic;
	color: white;
}
#menu td.right-part form.search input[type="text"]:focus {
	font-style: normal;
}
#menu .right-part form.search .button {
	width: 30px;
	height: 30px;
	background: url('../img/search-big.png') no-repeat;
	cursor: pointer;
}
#menu .right-part form.search .button:hover {
	background-position: -30px;
}
#menu .right-part form.search .button:active {
	background-position: -60px;
}
#menu .right-part .placeholder {
	color: white;
	display: block;
	width: 100%;
	font: 12px 'Copperplate Gothic Light';
	cursor: default;
}
#menu .left-part .button_back, 
#menu .left-part .button_forward,
#menu .left-part .to_bin,
#menu .left-part .to_home {
	width: 70px;
	height: 55px;
	margin: 10px;
}
#menu .left-part .button_back {
	background: url('../img/back.png') no-repeat;
}
#menu .left-part .button_forward {
	background: url('../img/forward.png') no-repeat;
}
#menu .left-part .to_bin {
	background: url('../img/menu-bin.png') no-repeat;
	margin-left: 25%;
}
#menu .left-part .to_home {
	background: url('../img/home.png') no-repeat;
	margin-left: 10%;
}
#menu .menu-table .left-part table {
	height: 100%;
}
#menu .menu-table .left-part table td {
	border-radius: 5px;
	background: rgba(999, 999, 999, 0.1);
	width: 25%;
}
#menu .menu-table .left-part table tr.dropables {
	height: 70px !important;
}
#menu .menu-table .left-part table tr.pager {
	height: 20px;
}
#menu .menu-table .left-part table .pagination {
	margin: 3px;
	padding-top: 4px;
}
#menu .menu-table .left-part table tr.pager ul {
	cursor: default;

}
#menu .menu-table .left-part table tr.pager ul li {
	display: inline-block;
	border-radius: 150px;
	width: 12px;
	height: 12px;
	margin-right: 8px;
	cursor: pointer;
	background: linear-gradient(to bottom, rgba(0,0,0,1) 21%, rgba(69,72,77,1) 100%);
}
#menu .menu-table .left-part table tr.pager ul li.active {
	background: linear-gradient(to bottom, rgba(255,183,107,1) 16%, rgba(255,183,107,1) 16%, rgba(255,124,0,1) 80%, rgba(255,124,0,1) 91%, rgba(255,124,0,1) 91%,rgba(255,127,4,1) 100%) !important;
}
#menu .menu-table .left-part table tr.pager ul li:hover {
	background: lightseagreen;
}
.apps-td {
	overflow: hidden;
}
#menu .menu-table .left-part table .apps {
	height: 100%;
	overflow: hidden;
}
#menu .menu-table .left-part table .app {
	height: 80px !important;
	width: 100px;
	background: linear-gradient(to bottom, rgba(999, 999, 999, 0.7) 21%, rgba(190, 190, 190, 0.8) 100%);
	border-radius: 6px;
	position: relative;
	cursor: default;
	float: left;
	margin: 15px;
	text-align: center;
}
#menu .menu-table .left-part table .app:hover {
	background: linear-gradient(to bottom, rgba(999, 999, 999, .7) 21%, skyblue 100%);
}
#menu .menu-table .left-part table .app .icon {
	margin-top: 10px;
}
#menu .menu-table .left-part table .app .title {
	display: block;
	font: bold 12px Verdana;
	font-variant: small-caps;
	word-break: break-all;
	position: absolute;
	bottom: 10px;
	width: 100%;
	text-align: center;
}
#menu .menu-table .right-part #apps-list li {
	min-width: 450px;
	width: 95%;
	height: 50px;
	background: linear-gradient(to bottom, white 21%, silver 100%);
	margin-top: 2px;
	border-radius: 5px;
	list-style: none;
	opacity: .9;
}
#menu .menu-table .right-part #apps-list li.added .switcher {
	background: url('../img/installed.png') center no-repeat;
	opacity: 1 !important;
	cursor: default  !important;
}
#menu .menu-table .right-part #apps-list li:hover {
	background: linear-gradient(to bottom, white 21%, grey 100%);
}
#menu .menu-table .right-part #apps-list li table {
	height: 100%;
	width: 100%;
	cursor: default;
}
#menu .menu-table .right-part #apps-list li table .bottom {
	clear: left;
	margin: 0px 15px 0px 15px;
	font: 11px Verdana;
}
#menu .menu-table .right-part #apps-list li table .icon {
	width: 50px;
	background: url('../img/conductor.png') center no-repeat;
}
#menu .menu-table .right-part #apps-list li table .switcher {
	width: 50px;
	background: url("../img/plus-act.png") center no-repeat;
	opacity: 0.7;
}
#menu .menu-table .right-part #apps-list li table .switcher:hover {
	opacity: 1;
	cursor: pointer;
}
#menu .menu-table .right-part #apps-list li table .switcher:active {
	opacity: 0.6;
}
#menu .menu-table .right-part #apps-list li table .content {

}
#menu .menu-table .right-part #apps-list li table .content .name {
	font: 12px 'Copperplate Gothic Bold';
	margin-left: 15px;
	float: left;
}
#menu .menu-table .right-part #apps-list li table .content .rating {
	margin-right: 15px;
	float: right;
}
#menu .menu-table .right-part #apps-list li table .content .rating .star {
	width: 18px;
	height: 17px;
	float: left;
	cursor: pointer;
	background: url("../img/star.png") no-repeat;
}
#menu .menu-table .right-part #apps-list li table .content .rating .star.filled {
	background-position: -18px 0;
}

#widget_select {
	/* display: table; */
	display: none;
	background: rgba(000, 000, 000, 0.6);
	position: absolute;
	width: calc(100% - 100px);
	width: -webkit-calc(100% - 100px);
	margin-left: 100px;
	height: calc(100% - 90px);
 	height: -webkit-calc(100% - 90px);
 	z-index: 3;
}
::i-block-chrome, #widget_select {			/* shity Safari 5.0 */
	width: 94%;
 	height: 100%;
}
#widget_select_inside {
	width: 100%;
	height: 200px;
	background: rgba(999, 999, 999, 0.5);
	position: absolute;
	top: 0;
	bottom: 0; 
	margin: auto;
}
#widget_select_inside .left-arrow, #widget_select_inside .right-arrow {
	width: 48px;
	height: 80px;
	background: url('../img/arrow.png');
	margin: 60px 25px;
	cursor: pointer;
}
#widget_select_inside .left-arrow {
	float: left;
	background-position: -48px;
}
#widget_select_inside .right-arrow {
	float: right;
}
#widget_select_inside .right-arrow:hover {
	background-position: -97px;
}
#widget_select_inside .left-arrow:hover {
	background-position: -145px;
}
#widget_select_inside .right-arrow:active {
	background-position: -194px;
}
#widget_select_inside .left-arrow:active {
	background-position: -242px;
}
.widgets_list {
  	height: 160px;
}
.widgets_list div.img.clock {
  	background: url('../img/clock.png');
}
.widgets_list div.img.calc {
  	background: url('../img/calc.png');
}
.widgets_list div.img {
  opacity: 0.8;
  width: 130px;
  height: 130px;
  border: 1px solid rgba(000, 000, 000, 0);
  display: inline-block;
  margin: 0 12px;
  background-repeat: no-repeat;
  cursor: pointer;

  .title {
		height: 20px;
	  	position: absolute;
		top: 165px;
		padding-top: 6px;
	  	font: bold 11px Verdana;
	  	text-align: center;
	  	background: linear-gradient(to bottom, rgba(0, 3 ,4, 0.8) 0%, rgba(41, 137, 216, 0.8) 100%, rgba(0, 43, 63, 0.8) 100%);
	  	width: 130px;
	  	color: white;
	  	border-radius: 5px;
	  	cursor: default;
	}
}
.widgets_list .mark {
	width: 35px;
	height: 35px;
	background: url('../img/installed.png') no-repeat rgba(999, 999, 999, 0.8) center;
	float: right;
	position: relative;
	right: 0px;
	z-index: 1;
	border: 1px solid deepskyblue;
}
.widgets_list div.img:hover, .widgets_list div.img.focus {
	opacity: 1;
}
.widgets_list div.img:active {
	border: 1px solid deepskyblue;
}

/* dialog */

.shadow {
	display: none;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(000, 020, 023, 0.7);
	z-index: 1000;
}
.inner-shadow {
	width: 50%;
	height: 50%;
	overflow: auto;
	color: white;
	margin: auto;
	position: absolute;
	top: 0; 
	left: 0; 
	bottom: 0; 
	right: 0;
}
.dialog-content {
	position: relative;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	height: 149px;
	background-image: url('../img/dialog.png');
	background-color: rgba(000, 000, 000, 0.1);
	border-radius: 8px;
	margin-top: 12%;
}
.dialog-text {
	cursor: default;
	color: black;
	font: bold 12px Verdana;
	width: 360px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	top: 25px;
}
.dialog-content .buttons {
	height: 30px;
	position: absolute;
	bottom: 15px;
	width: 97%;
}
.dialog-content .buttons .btn-warning {
	color: black;
}
.dialog-content .buttons button {
	margin-right: 2px;
	font: bold 12px Verdana;
}
.dialog-close {
	margin-top: 3px;
	float: right;
	margin-right: 3px;
	background: url('../img/dialog-close.png');
	width: 15px;
	height: 14px;
	cursor: pointer;
}
.dialog-close:hover {
	background-position: 15px;
}
.dialog-close:active {
	background-position: 30px;
}
.dialog-icon {
	width: 16px;
	height: 16px;
	margin-left: 6px;
	margin-top: -5px;
}
.modal-dialog {
	margin-top: 20% !important;
	width: 280px;
	color: #970101 !important;
	font: 12px verdana;
	text-align: center;
}
.modal-content {
	background: rgba(999, 999, 999, 0.7) !important;
}

.tooptip-text {
	font: bold 10px Verdana;
}
.tpd-tooltip {					/* external libraty class */

}