body {
	background: url('../img/bg.jpg') bottom;
	margin: 0;
	padding: 0;
}
#logo-stereo {
	position: absolute;
	margin-left: -368px;
	height: 0px;
	width: 368px;
	display: inline;
	background: url('../../logo.png');
}
div#digits {
	font: bold 16px Verdana;
	color: #ececec;
	position: absolute;
	margin-left: -220px;
	margin-top: 170px;
	display: inline;
}
#untitled {
	position: absolute;
	width: 367px;
	margin-left: -367px;
	margin-top: 155px;
	opacity: 0;
}
.logo {
	transform: scale(0);
}
