body {
	background: url('../img/bg.jpg') no-repeat bottom center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	overflow: hidden !important;
	width: 100%;
}
#circle {
	width: 720px;
	background: rgba(255,255,255, 0.5);
	height: 720px;
	border-radius: 500px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	transform: scale(0);
	margin-top: -360px;
}
#circle-parent {
	width: 720px;
	height: 720px;
	margin: auto;
}
.mini-circle {
	border-radius: 500px;
	background: rgba(255,255,255, 0.5);
	position: absolute;
	top: 20px;
	width: 390px;
	height: 390px;
}
.mini-circle:first-child {
	left: 20%;
}
.mini-circle:last-child {
	left: 27%;
}
#logo {
	width: 300px;
	margin-left: 20px;
	margin-top: 33px;
}
#login {
	margin-top: 80px;
	margin-left: 67px;
}
#login input[type="text"], #login input[type="password"] {
	margin-top: 10px;
	border: 1px solid #04a0e0;
	height: 32px;
	width: 224px;
	font: 12px Verdana;
	padding: 7px;
	background: rgba(999,999,999,0.5);
}
#login input[type="text"]:focus, #login input[type="password"]:focus {
	border: 1px solid #f90;
}
#login input[type="password"] {
	width: 200px !important;
	border-right: 0px;
}
#login input[type="password"]:focus {
	border-right: 0px !important;
}
#enter, #registration {
	outline: none;
	margin-top: 10px;
	width: 224px;
	font: bold 12px verdana;
}
#captcha {
  cursor: pointer !important;
}
input[type="checkbox"] {
	margin-top: 12px;
}
input.wrong {
  border: 1px solid red !important;
}
label {
	margin-left: 8px;
	font: 14px Verdana;
	font-variant: small-caps;
}
span.reglink {
	float: right;
	margin-top: 12px;
	margin-right: 100px;
	font: bold 13.5px verdana;
	font-variant: small-caps;
	text-decoration: underline;
	cursor: pointer;
	color: #433f48;
}
span.reglink:hover {
	text-decoration: none;
	color: #636363;
}
label, span.reglink {
	user-select: none;
	-webkit-user-select: none;	/* Chrome all / Safari all */
	-moz-user-select: none;	/* Firefox all */
	-ms-user-select: none;	/* IE 10+ */
	-o-user-select: none;
}
footer.login {
	font: bold 12px verdana;
	color: #383838;
	margin-top: 78px;
	margin-left: 42px;
}
#forgot {
	float: right;
	width: 23px;
	height: 32px;
	background: #fff;
	border: 1px solid #04a0e0;
	border-left: 0px !important;
	margin-top: -32px;
	margin-right: 100px;
	cursor: pointer;
	background: rgba(999,999,999,0.5);
}
#forgot img {
	margin-top: 5px;
	height: 20px;
	margin-left: 4px;
	opacity: 0.6;
}
#forgot:hover img {
	opacity: 1;
}
#forgot img:active {
	opacity: 0.7;
}

/* register */

#register {
	display: none;
}
table {
	margin-top: 75px;
	cell-padding: 10px;
	border-spacing: 5px;
	border-collapse: separate;
	margin-left: -20px;
}
td {
	text-align: right !important;
	letter-spacing: 0.2px;
}
.label {
	font: bold 13px Verdana;
	line-height: 30px;
	font-variant: small-caps;
	float: right;
}
table input[type="text"], table input[type="password"] {
	width: 200px;
	border: 1px solid #04a0e0;
	height: 32px;
	font: 12px Verdana !important;
	padding: 7px;
	background: rgba(999,999,999,0.5);
}
table input[type="text"]:focus, table input[type="password"]:focus {
	border: 1px solid #f90 !important;
}
footer.register {
	font: bold 12px verdana;
	color: #383838;
	margin-top: 49px;
	margin-left: 109px;
}
#back {
	width: 114px !important;
	outline: none;
	margin-top: 10px;
	font: bold 12px verdana;
}
buttons {
	float: left;
}
input[type="checkbox"] {
	outline: none !important;
}
.tooltip {
	font:verdana !important;
}
@font-face {
    font-family: 'Copperplate Gothic Bold';
    src: url('../fonts/Copperplate Gothic Bold.ttf');
}
#restore-input {
	margin-top: 22%;
	width: 80%;
	color: grey;
	margin-left: 5%;
	font: 12px Verdana;
	padding: 6px;
	height: 33px;
	margin-right: 5px;
	color: black;
	border: 1px solid #04a0e0;
	float: left;
	border-radius: 3px;
	outline: none;
}
#restore-button {
	font: bold 12px Verdana !important;
	float: left;
	margin-top: 22%;
	user-select: none !important;
	-webkit-user-select: none !important;
	height: 33px;
}
.check img {
	display: none;
}

/* neutral */

.shadow {
	display: none;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(000, 020, 023, 0.7);
}
.inner-shadow {
	width: 50%;
	height: 50%;
	overflow: auto;
	color: white;
	margin: auto;
	position: absolute;
	top: 0; 
	left: 0; 
	bottom: 0; 
	right: 0;
}
.dialog-content {
	position: relative;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	height: 149px;
	background-image: url('../img/dialog.png');
	background-color: rgba(000, 000, 000, 0.1);
	border-radius: 8px;
	margin-top: 12%;
}
.dialog-close {
	margin-top: 3px;
	float: right;
	margin-right: 3px;
	background: url('../img/dialog-close.png');
	width: 15px;
	height: 14px;
	cursor: pointer;
}
.dialog-close:hover {
	background-position: 15px;
}
.dialog-close:active {
	background-position: 30px;
}
.modal-dialog {
	margin-top: 20% !important;
	width: 350px;
	color: #970101 !important;
	font: 12px verdana;
	text-align: center;
}
.modal-content {
	background: rgba(999, 999, 999, 0.7) !important;
}
footer {
	font:11px "Copperplate Gothic Bold" !important;
	text-align: center;
	margin-right: 152px !important;
}
