link(rel='stylesheet', href='css/bootstrap.min.css')
link(rel='stylesheet', href='css/dataTables.bootstrap.min.css')
link(rel='stylesheet', href='css/bootstrap-theme.min.css')
link(rel='stylesheet', href='css/tipped.css')
script(src='js/jquery.min.js')
script(src='js/jquery.form.min.js')
script(src='js/bootstrap.min.js')
script(src='js/jquery.dataTables.min.js')
script(src='js/dataTables.bootstrap4.min.js')
script(src='js/tipped.js')
link(rel='stylesheet', type='text/css', href='css/conductor.css')
nav.navbar.navbar-default
	form#upload-form(enctype='multipart/form-data', ref='uploadForm', method='post', style='display: none;', action='/app/upload')
		input#attachment.file(type='file', name='upload', onchange='fileSelected(this)')
	.container-fluid
		.dropdown
			a.btn.btn-default.dropdown-toggle(href='#', data-toggle='dropdown')
				span.glyphicon.glyphicon-th-list
			span.path
				| /
				a.path-link(href='#', title='Click to go to this directory') photos
				| /example/
			ul.dropdown-menu
				li.copy
					span.dropdown-item.first
						span.glyphicon.glyphicon.glyphicon-floppy-open(aria-hidden='true')
						span.text Copy
				li.paste
					span.dropdown-item
						span.glyphicon.glyphicon-floppy-save(aria-hidden='true')
						span.text Paste
				li.delete
					span.dropdown-item
						span.glyphicon.glyphicon-remove(aria-hidden='true')
						span.text Delete
				li.properties
					span.dropdown-item
						span.glyphicon.glyphicon-pencil(aria-hidden='true')
						span.text Properties
				li.upload
					span.dropdown-item
						span.glyphicon.glyphicon-upload(aria-hidden='true')
						span.text Upload file
		.progress
.input-group.input-group-sm.conductor-search-input.conductor-search
	#sizing-addon3.input-group-addon
		img(src='img/loop.png')
table.conductor-table.table.table-striped.table-responsive.table-bordered
	thead
		tr
			th.un-selectable.select-all.no-order
				input(type='checkbox')
			th.un-selectable.icon.no-order Icon
			th.un-selectable(title='Click here to sort by name') Name
			th.un-selectable(title='Click here to sort by date') Date modified
			th.un-selectable(title='Click here to sort by type') Type
			th.un-selectable(title='Click here to sort by size') Size
		tr.warning.no-result
			td(colspan='6')
				| No results
	tbody
		tr.docket.un-selectable(title='Double click to open that file / directory')
			td.box
				input(type='checkbox')
			td.icon
				img(src='img/photo.png')
			td.name John
			td.date 01.07.2017 17.45
			td.type Image
			td.size 17 KB
		tr.docket.un-selectable(title='Double click to open that file / directory')
			td.box
				input(type='checkbox')
			td.icon
				img(src='img/photo.png')
			td.name Mary
			td.date 02.03.2017 17.45
			td.type Image
			td.size 16 KB
		tr.docket.un-selectable(title='Double click to open that file / directory')
			td.box
				input(type='checkbox')
			td.icon
				img(src='img/photo.png')
			td.name Max
			td.date 02.03.2017 17.45
			td.type Image
			td.size 19 KB
		tr.docket.un-selectable(title='Double click to open that file / directory')
			td.box
				input(type='checkbox')
			td.icon
				img(src='img/folder.png')
			td.name July
			td.date 04.07.2017 17.45
			td.type Folder
			td.size 0 KB
		tr.docket.un-selectable(title='Double click to open that file / directory')
			td.box
				input(type='checkbox')
			td.icon
				img(src='img/folder.png')
			td.name May
			td.date 04.07.2017 17.45
			td.type Folder
			td.size 0 KB
		tr.docket.un-selectable(title='Double click to open that file / directory')
			td.box
				input(type='checkbox')
			td.icon
				img(src='img/folder.png')
			td.name April
			td.date 04.07.2017 17.45
			td.type Folder
			td.size 0 KB
		tr.docket.un-selectable(title='Double click to open that file / directory')
			td.box
				input(type='checkbox')
			td.icon
				img(src='img/folder.png')
			td.name March
			td.date 04.07.2017 17.45
			td.type Folder
			td.size 0 KB
		tr.docket.un-selectable(title='Double click to open that file / directory')
			td.box
				input(type='checkbox')
			td.icon
				img(src='img/folder.png')
			td.name June
			td.date 04.07.2017 17.45
			td.type Folder
			td.size 0 KB
		tr.docket.un-selectable(title='Double click to open that file / directory')
			td.box
				input(type='checkbox')
			td.icon
				img(src='img/folder.png')
			td.name July
			td.date 04.07.2017 17.45
			td.type Folder
			td.size 0 KB
		tr.docket.un-selectable(title='Double click to open that file / directory')
			td.box
				input(type='checkbox')
			td.icon
				img(src='img/folder.png')
			td.name July
			td.date 04.07.2017 17.45
			td.type Folder
			td.size 0 KB
		tr.docket.un-selectable(title='Double click to open that file / directory')
			td.box
				input(type='checkbox')
			td.icon
				img(src='img/folder.png')
			td.name July
			td.date 04.07.2017 17.45
			td.type Folder
			td.size 0 KB
		tr.docket.un-selectable(title='Double click to open that file / directory')
			td.box
				input(type='checkbox')
			td.icon
				img(src='img/folder.png')
			td.name July
			td.date 04.07.2017 17.45
			td.type Folder
			td.size 0 KB
		tr.docket.un-selectable(title='Double click to open that file / directory')
			td.box
				input(type='checkbox')
			td.icon
				img(src='img/folder.png')
			td.name July
			td.date 04.07.2017 17.45
			td.type Folder
			td.size 0 KB
		tr.docket.un-selectable(title='Double click to open that file / directory')
			td.box
				input(type='checkbox')
			td.icon
				img(src='img/folder.png')
			td.name July
			td.date 04.07.2017 17.45
			td.type Folder
			td.size 0 KB
script(src='js/conductor.js')